@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply p-4
    }

    button {
        @apply text-white border bg-ihs-green border-ihs-green hover:bg-transparent hover:text-ihs-green rounded-md
    }

    html {
        font-family: 'Be Vietnam Pro', sans-serif;
    }
}

body {

    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* .table {
    word-wrap: break-word;
} */

/* .table {
    width: 100%;
}

.table {
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    grid-auto-flow: column;

}


.table .td {
    padding: 1rem;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.table .th {
    background-color: #e6f7f7;
    border-bottom: 1px solid gray;
    padding: 1.5rem 1rem;
} */

@media screen and (max-width:32.5em) {
    .table table {
        /* display: block; */
        grid-template-columns: 1fr auto;
        row-gap: 1rem;
        /* position: relative; */
    }
    .table td {
        padding: .15rem;
        border: none;
        grid-column: 1/2;
        /* margin: .5rem 0; */
    }

    /* .table th {
        grid-column: ;
    } */



    .table .right {
        /* float: right; */
        /* position: absolute; */
        /* right: 0;
        top: 0; */
        grid-column: 2/3;
        /* grid-row: 1/2; */
    }

    .float-right {
        /* float: right; */
    }
}